:root{
  --grey:rgba(0,0,0,.6);
}

html, body{
  margin: 0;
  height: 100%;
  letter-spacing: 0.03rem;
}

#app{
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: underline;
}